@use "src/assets/styles/abstracts" as a;
@use "src/assets/styles/components" as c;

@use "sass:map";

h1 {
  float: left;
  color: var(--primary-text);
  font-family: a.$font-primary;
  letter-spacing: a.$wide-letter-spacing;
  text-align: center;
  font-size: a.$font-size-large;

  padding-left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  span {
    color: var(--secondary-text);
  }

  &:hover {
    cursor: pointer;
    color: var(--primary-text-hover);
    span {
      color: var(--secondary-text-hover);
    }
  }
}
