@use "src/assets/styles/abstracts" as *;

h1 {
  float: left;

  color: $primary-text-dark;
  font-family: $font-primary;
  letter-spacing: $wide-letter-spacing;
  text-align: center;
  font-size: $font-size-large;

  padding-left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  span {
    color: $secondary-text-dark;
  }
}

h1:hover {
  cursor: pointer;

  color: $primary-text-dark-hover;

  span {
    color: $secondary-text-dark-hover;
  }
}
