@use "src/assets/styles/abstracts" as a;
@use "src/assets/styles/components" as c;

@use "sass:map";

.container {
  position: absolute;
  margin: auto;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  height: 100px;

  .search {
    @include c.onHover(
        map.get(a.$dark-theme, "primary-btn-foreground"),
        map.get(a.$dark-theme, "primary-btn-foreground-hover"),
        map.get(a.$dark-theme, "primary-btn-background"),
        map.get(a.$dark-theme, "primary-btn-background-hover")
    );

    position: absolute;
    margin: auto;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100px;
    height: 100px;

    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    border: none;

    transition: all 0.7s;

    &:before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      // draw handle of magnifying glass
      width: 14px;
      height: 2px;
      background: map.get(a.$dark-theme, "primary-btn-foreground");
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      // draw glass of magnifying glass
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid map.get(a.$dark-theme, "primary-btn-foreground");
    }

  }

  input {
    opacity: 0;

    position: absolute;
    margin: auto;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 30px;

    font-family: a.$font-primary;
    font-weight: normal;
    letter-spacing: a.$narrow-letter-spacing;

    z-index: 1;

    outline: none;
    border: none;
    background-color: map.get(a.$dark-theme, "primary-btn-background");
    color: map.get(a.$dark-theme, "primary-text");
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);

    cursor: pointer;

    transition: all 1s;

    &:hover {
      background-color: map.get(a.$dark-theme, "primary-btn-background-hover");
    }

    &:focus {
      opacity: 1;
      width: 450px;
      height: 50px;
      cursor: text;
    }

    &:focus ~ .search {
      left: 115%;
      z-index: 2;
    }

    &::placeholder {
      font-weight: bolder;
      color: map.get(a.$dark-theme, "primary-text");
    }
  }
}
