<nav>
  <h1 class="title">Project <span>R</span></h1>
  <div class="right-align">
    <form class="search-form">
      <input type="text" placeholder="Search..." name="search">
      <button type="submit"><mat-icon>search</mat-icon></button>
    </form>
    <mat-icon class="user-profile-icon"
              [ngClass]="{ 'user-profile-expanded' : isUserProfileShown }"
              (click)="onUserProfileClicked($event)">
      account_circle
    </mat-icon>
  </div>
</nav>

<app-user-profile *ngIf="isUserProfileShown" (userProfileShownEvent)="hideUserProfile($event)"></app-user-profile>

