@use "src/assets/styles/abstracts" as *;

div {
  float: right;
  padding-top: 10px;
  padding-right: 0;
  padding-left: 0;
  background-color: #1C1C1CFF;

  h1 {
    padding: 0 50px 0 10px;
    font-family: $font-primary;
    letter-spacing: $medium-letter-spacing;
    font-size: $font-size-medium;
    color: $primary-text-dark;
    border-width: 0 0 0 2px;
    border-bottom: 2px solid $secondary-text-dark;
  }

  ul {
    padding: 0 0 0 0;

    li {
      padding: 0 0 0 10px;
      font-family: $font-primary;
      letter-spacing: $medium-letter-spacing;
      list-style: none;
      font-size: $font-size-small;

      color: $primary-text-dark;
    }

    li:hover {
      color: $primary-text-dark-hover;
      cursor: pointer;
    }
  }
}
