@use "src/assets/styles/abstracts" as a;
@use "src/assets/styles/components" as c;

nav {
  background-color: a.$nav-color-dark;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 5%;

  .right-align {
    float: right;
    display: block;
    margin: auto;
    padding: 7px 10px 0 0;

    .user-profile-icon {
      @include c.onHover(a.$secondary-btn-background-dark,
        a.$secondary-btn-background-dark-hover,
        a.$secondary-btn-foreground-dark,
        a.$secondary-btn-foreground-dark-hover);

      display: inline-block;
      margin: 5px;

      transform: scale(1.4);
      vertical-align: middle;
    }
  }
}
