// Colors
$dark-grey: #252525;
$darker-grey: #1C1C1CFF;
$white: #ffffff;
$darker-white: #d7d7d7;
$dark-red: #DC143CFF;
$darker-red: #c21234;

// Background

$base-color-dark : $dark-grey;
$nav-color-dark : $darker-grey;
$primary-btn-background-dark: $dark-red;
$primary-btn-background-dark-hover: $darker-red;
$secondary-btn-background-dark: $white;
$secondary-btn-background-dark-hover: $darker-white;

// Foreground

$primary-btn-foreground-dark: $white;
$primary-btn-foreground-dark-hover: $darker-white;
$secondary-btn-foreground-dark: $dark-grey;
$secondary-btn-foreground-dark-hover: $darker-grey;

// Text

$primary-text-dark: $white;
$primary-text-dark-hover: $darker-white;
$secondary-text-dark: $dark-red;
$secondary-text-dark-hover: $darker-red;
