// Fonts
$font-primary: Roboto, "Helvetica Neue", sans-serif;

// Size
$font-size-small:15px;
$font-size-medium:18px;
$font-size-large: 24px;

// Letter spacing
$narrow-letter-spacing: 0.1em;
$medium-letter-spacing: 0.2em;
$wide-letter-spacing: 0.3em;
